# Dependencies
node_modules/
.pnpm-store/

# Vite Production Build Output
dist/

# Local Environment Variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor directories
.vscode/
.idea/
.DS_Store
